<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysModelMapper">
    
    <resultMap type="SysModel" id="SysModelResult">
        <result property="modelId"    column="model_id"    />
        <result property="modelName"    column="model_name"    />
        <result property="modelDescription"    column="model_description"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysModelVo">
        select model_id, model_name, model_description, create_time, create_by, update_time, update_by, status from sys_model
    </sql>

    <select id="selectSysModelList" parameterType="SysModel" resultMap="SysModelResult">
        <include refid="selectSysModelVo"/>
        <where>  
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="modelDescription != null  and modelDescription != ''"> and model_description = #{modelDescription}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysModelByModelId" parameterType="Long" resultMap="SysModelResult">
        <include refid="selectSysModelVo"/>
        where model_id = #{modelId}
    </select>

    <insert id="insertSysModel" parameterType="SysModel" useGeneratedKeys="true" keyProperty="modelId">
        insert into sys_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">model_name,</if>
            <if test="modelDescription != null">model_description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">#{modelName},</if>
            <if test="modelDescription != null">#{modelDescription},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateSysModel" parameterType="SysModel">
        update sys_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">model_name = #{modelName},</if>
            <if test="modelDescription != null">model_description = #{modelDescription},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where model_id = #{modelId}
    </update>

    <delete id="deleteSysModelByModelId" parameterType="Long">
        delete from sys_model where model_id = #{modelId}
    </delete>

    <delete id="deleteSysModelByModelIds" parameterType="String">
        delete from sys_model where model_id in 
        <foreach item="modelId" collection="array" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>
</mapper>